@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;500;600;700;800;900&display=swap');

html, body
{
    padding: 0;
    margin: 0;
    background: #18171a;
}

*
{
    font-family: 'Noto Sans JP', sans-serif;
    color: white;
}

main
{
    width: 65%;
    margin: 42px auto;
}

.navbar > *
{
    display: inline-block;
    vertical-align: middle;
}

.navbar > a
{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 18px;
    margin-right: 24px;

    padding: 2px 6px;

    transition: 0.2s;
}

.description-justify
{
    text-align: justify;
    text-justify: inter-word;

    color: #c9c9c9;
}

.navbar > a:hover:not(.icon, .active)
{
    color: #18171a;
    background: white;
}

.navbar > a.active
{
    color: #18171a;
    background: white;
}

h1, h2, h3, h4, h5, p
{
    margin: 0;
}

.skills-box
{
    width: 100%;
    display: flex;
  flex-wrap: wrap;
    gap: 16px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.skill
{
    display: block;
    vertical-align: middle;
    background: rgba(0,0,0,0.2);
    padding: 8px;
}

.skill > .skill-name
{
    font-size: 16px;
    font-weight: 600;
    margin-right: 12px;
}

.skill > .stars
{
    display: inline-block;

    vertical-align: middle;
}

.skill > .stars > .active
{
    opacity: 1;
    color: #bfffa2;
}

.skill > .stars > *:not(.active)
{
    opacity: 0.5;
}

.socials > a
{
    padding: 8px;
    vertical-align: middle;
}

.social-icon
{
    height: 16px;
}

span.small-text
{
    font-size: 12px;
    opacity: 0.7;
    vertical-align: middle;
}