/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

html, body
{
    padding: 0;
    margin: 0;
    background: #000;
}

* {
    color: white;
    font-family: 'Space Grotesk', sans-serif;
    user-select: none;
}

.centered
{
    position: fixed;
    left: 50%;
    top: 50%;
    text-align: center;
    transform: translate(-50%, -50%);
}

.centered > h1
{
    margin: 0;
    padding: 0;
    font-size: 42px;
    text-shadow: white;
    -moz-text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.24);
    -webkit-text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.24);
    -ms-text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.24);
    text-shadow: 0px 0px 9px rgba(255, 255, 255, 0.24);
}

.centered > span.small-text
{
    display: block;
    font-size: 12px;
}

a
{
    padding: 2px;
    display: inline-block;
    color: white;
    opacity: 0.6;
    text-decoration: none;
    width: 100px;
}

a:hover
{
    opacity: 0.8;
}

a:hover::before
{
    content: '[ ';
}


a:hover::after
{
    content: ' ]';
}